function Bat.init 0
push constant 4
pop static 5
push constant 2
pop static 0
push constant 1
pop static 1
push constant 2
pop static 2
push constant 32
pop static 7
push static 2
call Array.new 1
pop static 6
push static 2
call Array.new 1
pop static 8
push constant 32
call Array.new 1
pop static 9
push constant 32
call Array.new 1
pop static 10
push static 9
push constant 0
push constant 12288
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 1
push constant 12
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 2
push constant 12288
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 3
push constant 12
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 4
push constant 4096
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 5
push constant 63
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 6
push constant 4096
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 7
push constant 63
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 8
push constant 15360
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 9
push constant 79
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 10
push constant 15360
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 11
push constant 207
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 12
push constant 256
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 13
push constant 255
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 14
push constant 16128
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 15
push constant 1008
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 16
push constant 16128
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 17
push constant 1008
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 18
push constant 3840
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 19
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 20
push constant 3840
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 21
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 0
push constant 12288
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 1
push constant 12
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 2
push constant 12288
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 3
push constant 12
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 4
push constant 1024
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 5
push constant 15
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 6
push constant 1024
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 7
push constant 15
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 8
push constant 3584
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 9
push constant 60
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 10
push constant 3328
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 11
push constant 60
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 12
push constant 256
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 13
push constant 255
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 14
push constant 4032
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 15
push constant 252
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 16
push constant 4032
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 17
push constant 252
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 18
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 19
push constant 240
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 20
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 21
push constant 240
call MemoryExt.poke 3
pop temp 0
push static 6
push constant 0
push static 9
call MemoryExt.poke 3
pop temp 0
push static 8
push constant 0
push static 10
call MemoryExt.poke 3
pop temp 0
push constant 32
call Array.new 1
pop static 11
push constant 32
call Array.new 1
pop static 12
push static 11
push constant 0
push constant 13184
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 1
push constant 1932
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 2
push constant 14208
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 3
push constant 1932
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 4
push constant 128
neg
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 5
push constant 2047
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 6
push constant 128
neg
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 7
push constant 2047
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 8
push constant 15872
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 9
push constant 463
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 10
push constant 12288
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 11
push constant 79
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 12
push constant 4096
neg
call MemoryExt.poke 3
pop temp 0
push static 11
push constant 13
push constant 127
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 0
push constant 12768
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 1
push constant 460
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 2
push constant 12768
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 3
push constant 492
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 4
push constant 32
neg
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 5
push constant 511
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 6
push constant 32
neg
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 7
push constant 511
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 8
push constant 3200
neg
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 9
push constant 124
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 10
push constant 3584
neg
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 11
push constant 12
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 12
push constant 512
neg
call MemoryExt.poke 3
pop temp 0
push static 12
push constant 13
push constant 15
call MemoryExt.poke 3
pop temp 0
push static 6
push constant 1
push static 11
call MemoryExt.poke 3
pop temp 0
push static 8
push constant 1
push static 12
call MemoryExt.poke 3
pop temp 0
push constant 0
return
function Bat.getWidth 0
push static 0
return
function Bat.getHeight 0
push static 1
return
function Bat.CheckTimers 0
push static 4
push constant 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Bat.ChangeFrame 0
pop temp 0
push static 5
pop static 4
label IF_FALSE0
push constant 0
return
function Bat.DecrementTimers 0
push static 4
push constant 1
sub
pop static 4
push constant 0
return
function Bat.ChangeFrame 0
push static 3
push static 2
push constant 1
sub
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 3
push constant 1
add
pop static 3
goto IF_END0
label IF_FALSE0
push constant 0
pop static 3
label IF_END0
push constant 0
return
function Bat.DrawFrame 0
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push static 3
push static 8
add
pop pointer 1
push that 0
push static 7
push static 0
push static 1
push argument 2
push argument 3
call Sprite.Draw 7
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 0
push static 3
push static 6
add
pop pointer 1
push that 0
push static 7
push static 0
push static 1
push argument 2
push argument 3
call Sprite.Draw 7
pop temp 0
label IF_END0
push constant 0
return
