function EvilJeffMelee.init 0
push constant 3
pop static 0
push constant 2
pop static 1
push constant 1
pop static 2
push constant 96
pop static 7
push static 2
call Array.new 1
pop static 6
push static 2
call Array.new 1
pop static 8
push constant 96
call Array.new 1
pop static 9
push constant 96
call Array.new 1
pop static 10
push static 9
push constant 1
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 4
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 6
push constant 2048
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 7
push constant 2017
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 8
push constant 31
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 9
push constant 64
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 10
push constant 2721
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 11
push constant 1023
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 12
push constant 8
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 13
push constant 1985
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 14
push constant 8191
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 15
push constant 4
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 16
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 17
push constant 16383
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 18
push constant 2
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 19
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 20
push constant 32767
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 21
push constant 2
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 22
push constant 4129
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 23
push constant 32767
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 24
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 25
push constant 4129
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 26
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 27
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 28
push constant 4129
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 29
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 30
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 31
push constant 1089
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 32
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 33
push constant 130
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 34
push constant 2081
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 35
push constant 32511
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 36
push constant 770
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 37
push constant 4113
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 38
push constant 32575
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 39
push constant 508
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 40
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 41
push constant 16256
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 42
push constant 1020
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 43
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 44
push constant 16320
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 45
push constant 1016
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 46
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 47
push constant 8160
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 48
push constant 1016
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 50
push constant 4064
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 51
push constant 1008
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 53
push constant 2032
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 54
push constant 1008
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 56
push constant 1008
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 57
push constant 992
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 59
push constant 496
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 60
push constant 992
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 62
push constant 248
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 63
push constant 1984
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 65
push constant 356
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 66
push constant 11328
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 68
push constant 450
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 69
push constant 14368
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 71
push constant 16258
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 72
push constant 2016
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 73
push constant 7
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 74
push constant 16253
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 75
push constant 2160
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 76
push constant 24
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 77
push constant 16260
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 78
push constant 1984
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 79
push constant 7
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 80
push constant 504
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 81
push constant 16256
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 83
push constant 256
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 84
push constant 8192
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 1
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 4
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 6
push constant 2048
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 7
push constant 2017
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 8
push constant 31
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 9
push constant 64
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 10
push constant 1361
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 11
push constant 1023
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 12
push constant 8
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 13
push constant 993
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 14
push constant 8191
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 15
push constant 4
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 16
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 17
push constant 16383
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 18
push constant 2
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 19
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 20
push constant 32767
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 21
push constant 2
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 22
push constant 1033
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 23
push constant 32767
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 24
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 25
push constant 1033
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 26
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 27
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 28
push constant 1033
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 29
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 30
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 31
push constant 545
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 32
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 33
push constant 130
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 34
push constant 1041
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 35
push constant 32511
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 36
push constant 770
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 37
push constant 2057
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 38
push constant 32575
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 39
push constant 508
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 40
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 41
push constant 16256
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 42
push constant 1020
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 43
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 44
push constant 16320
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 45
push constant 2040
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 46
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 47
push constant 8128
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 48
push constant 2032
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 50
push constant 8128
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 51
push constant 4064
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 53
push constant 4032
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 54
push constant 4032
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 56
push constant 4032
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 57
push constant 3968
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 59
push constant 1984
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 60
push constant 7936
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 62
push constant 1984
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 63
push constant 9856
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 65
push constant 992
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 66
push constant 17280
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 68
push constant 564
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 69
push constant 16892
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 71
push constant 1052
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 72
push constant 16125
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 73
push constant 8192
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 74
push constant 1055
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 75
push constant 8700
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 76
push constant 6144
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 77
push constant 3600
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 78
push constant 8064
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 79
push constant 8192
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 80
push constant 543
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 81
push constant 128
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 83
push constant 508
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 86
push constant 4
call MemoryExt.poke 3
pop temp 0
push static 6
push constant 0
push static 9
call MemoryExt.poke 3
pop temp 0
push static 8
push constant 0
push static 10
call MemoryExt.poke 3
pop temp 0
push constant 0
return
function EvilJeffMelee.getWidth 0
push static 0
return
function EvilJeffMelee.getHeight 0
push static 1
return
function EvilJeffMelee.DrawFrame 0
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push static 3
push static 8
add
pop pointer 1
push that 0
push static 7
push static 0
push static 1
push argument 2
push argument 3
call Sprite.Draw 7
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 0
push static 3
push static 6
add
pop pointer 1
push that 0
push static 7
push static 0
push static 1
push argument 2
push argument 3
call Sprite.Draw 7
pop temp 0
label IF_END0
push constant 0
return
