function JeffDead.init 0
push constant 3
pop static 0
push constant 2
pop static 1
push constant 1
pop static 2
push constant 96
pop static 7
push static 2
call Array.new 1
pop static 6
push static 2
call Array.new 1
pop static 8
push constant 96
call Array.new 1
pop static 9
push constant 96
call Array.new 1
pop static 10
push static 9
push constant 1
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 4
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 7
push constant 32383
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 10
push constant 32191
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 13
push constant 32191
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 16
push constant 32383
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 19
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 22
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 25
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 28
push constant 30127
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 31
push constant 31711
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 34
push constant 30127
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 37
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 40
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 43
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 46
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 58
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 61
push constant 3120
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 64
push constant 4104
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 67
push constant 3120
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 69
push constant 192
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 70
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 71
push constant 12
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 72
push constant 448
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 74
push constant 28
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 75
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 77
push constant 44
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 78
push constant 64
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 80
push constant 8188
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 81
push constant 64
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 83
push constant 8188
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 84
push constant 64
neg
call MemoryExt.poke 3
pop temp 0
push static 9
push constant 86
push constant 8188
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 1
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 4
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 7
push constant 32383
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 10
push constant 32191
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 13
push constant 32191
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 16
push constant 32383
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 19
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 22
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 25
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 28
push constant 30127
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 31
push constant 31711
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 34
push constant 30127
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 37
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 40
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 43
push constant 32767
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 46
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 58
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 61
push constant 3120
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 64
push constant 4104
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 67
push constant 3120
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 69
push constant 12288
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 70
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 71
push constant 768
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 72
push constant 14336
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 74
push constant 896
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 75
push constant 13312
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 77
push constant 832
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 78
push constant 16376
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 80
push constant 1023
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 81
push constant 16376
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 83
push constant 1023
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 84
push constant 16376
call MemoryExt.poke 3
pop temp 0
push static 10
push constant 86
push constant 1023
call MemoryExt.poke 3
pop temp 0
push static 6
push constant 0
push static 9
call MemoryExt.poke 3
pop temp 0
push static 8
push constant 0
push static 10
call MemoryExt.poke 3
pop temp 0
push constant 0
return
function JeffDead.getWidth 0
push static 0
return
function JeffDead.getHeight 0
push static 1
return
function JeffDead.DrawFrame 0
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push static 3
push static 8
add
pop pointer 1
push that 0
push static 7
push static 0
push static 1
push argument 2
push argument 3
call Sprite.Draw 7
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 0
push static 3
push static 6
add
pop pointer 1
push that 0
push static 7
push static 0
push static 1
push argument 2
push argument 3
call Sprite.Draw 7
pop temp 0
label IF_END0
push constant 0
return
