function Level3.new 1
push constant 15
call Memory.alloc 1
pop pointer 0
push constant 1
push constant 200
push constant 0
call Character.new 3
pop this 0
push constant 122
push constant 64
call Finish.new 2
pop this 1
push constant 18
pop this 2
push constant 6
pop this 3
push constant 2
pop this 4
push constant 4
pop this 5
push constant 5
pop this 6
push constant 18
call Array.new 1
pop this 7
push this 7
push constant 0
push constant 0
push constant 240
push constant 4
push constant 11
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 1
push constant 38
push constant 240
push constant 4
push constant 12
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 2
push constant 92
push constant 240
push constant 5
push constant 36
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 3
push constant 58
push constant 48
push constant 8
push constant 9
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 4
push constant 70
push constant 96
push constant 8
push constant 4
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 5
push constant 64
push constant 128
push constant 8
push constant 3
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 6
push constant 21
push constant 160
push constant 8
push constant 7
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 7
push constant 58
push constant 160
push constant 8
push constant 3
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 8
push constant 14
push constant 192
push constant 8
push constant 4
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 9
push constant 31
push constant 192
push constant 8
push constant 5
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 10
push constant 52
push constant 192
push constant 8
push constant 3
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 11
push constant 121
push constant 80
push constant 9
push constant 7
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 12
push constant 79
push constant 96
push constant 9
push constant 7
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 13
push constant 101
push constant 96
push constant 9
push constant 7
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 14
push constant 94
push constant 128
push constant 9
push constant 4
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 15
push constant 111
push constant 128
push constant 9
push constant 7
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 16
push constant 101
push constant 160
push constant 9
push constant 7
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 17
push constant 111
push constant 192
push constant 9
push constant 3
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push constant 6
call Array.new 1
pop this 8
push this 8
push constant 0
push constant 11
push constant 240
push constant 0
push constant 0
push constant 27
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push this 8
push constant 1
push constant 50
push constant 240
push constant 0
push constant 0
push constant 6
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push this 8
push constant 2
push constant 58
push constant 240
push constant 0
push constant 0
push constant 17
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push this 8
push constant 3
push constant 56
push constant 240
push constant 1
push constant 16
push constant 2
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push this 8
push constant 4
push constant 75
push constant 240
push constant 2
push constant 48
push constant 3
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push this 8
push constant 5
push constant 78
push constant 240
push constant 4
push constant 0
push constant 14
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push constant 2
call Array.new 1
pop this 9
push this 9
push constant 0
push constant 112
push constant 112
push constant 2
call Enemy.new 3
call MemoryExt.poke 3
pop temp 0
push this 9
push constant 1
push constant 44
push constant 224
push constant 1
call Enemy.new 3
call MemoryExt.poke 3
pop temp 0
push constant 4
call Array.new 1
pop this 10
push this 10
push constant 0
push constant 60
push constant 32
push constant 0
call Collectable.new 3
call MemoryExt.poke 3
pop temp 0
push this 10
push constant 1
push constant 64
push constant 32
push constant 2
call Collectable.new 3
call MemoryExt.poke 3
pop temp 0
push this 10
push constant 2
push constant 84
push constant 80
push constant 1
call Collectable.new 3
call MemoryExt.poke 3
pop temp 0
push this 10
push constant 3
push constant 47
push constant 224
push constant 2
call Collectable.new 3
call MemoryExt.poke 3
pop temp 0
push constant 5
call Array.new 1
pop this 11
push this 11
push constant 0
push constant 81
push constant 64
call SpawnPoint.new 2
call MemoryExt.poke 3
pop temp 0
push this 11
push constant 1
push constant 70
push constant 80
call SpawnPoint.new 2
call MemoryExt.poke 3
pop temp 0
push this 11
push constant 2
push constant 58
push constant 144
call SpawnPoint.new 2
call MemoryExt.poke 3
pop temp 0
push this 11
push constant 3
push constant 2
push constant 208
call SpawnPoint.new 2
call MemoryExt.poke 3
pop temp 0
push this 11
push constant 4
push constant 40
push constant 224
call SpawnPoint.new 2
call MemoryExt.poke 3
pop temp 0
push this 0
push this 6
call Character.setSpawnPointsCount 2
pop temp 0
push this 0
push this 11
call Character.setSpawnPoints 2
pop temp 0
push constant 128
pop this 13
push constant 16
pop this 14
push constant 2048
call Array.new 1
pop this 12
label WHILE_EXP0
push local 0
push constant 2048
lt
not
if-goto WHILE_END0
push local 0
push this 12
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 12
push constant 15
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 31
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 47
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 63
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 79
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 95
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 111
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 127
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 143
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 159
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 175
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 191
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 207
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 223
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 236
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 239
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 252
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 255
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 268
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 271
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 284
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 287
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 303
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 319
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 335
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 346
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 351
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 362
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 367
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 378
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 383
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 394
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 399
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 410
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 415
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 426
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 431
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 442
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 447
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 463
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 479
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 495
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 508
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 511
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 524
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 527
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 540
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 543
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 556
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 559
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 572
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 575
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 591
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 607
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 623
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 639
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 655
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 671
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 687
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 703
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 719
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 735
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 751
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 766
push constant 18
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 767
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 783
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 799
push constant 5
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 815
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 831
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 844
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 847
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 860
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 863
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 876
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 879
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 895
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 910
push constant 12
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 911
push constant 12
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 926
push constant 12
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 927
push constant 12
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 931
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 938
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 943
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 947
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 954
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 959
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 962
push constant 16
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 963
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 970
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 975
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 979
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 991
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 995
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1007
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1011
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1023
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1026
push constant 18
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1027
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1032
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1039
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1043
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1048
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1055
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1059
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1064
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1071
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1087
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1103
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1119
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1126
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1135
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1142
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1151
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1158
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1167
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1174
push constant 9
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1183
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1199
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1212
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1213
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1214
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1215
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1228
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1229
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1230
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1231
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1244
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1245
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1246
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1247
push constant 13
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1263
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1270
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1279
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1286
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1295
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1302
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1311
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1318
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1327
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1334
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1343
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1349
push constant 17
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1350
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1359
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1366
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1375
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1391
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1407
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1423
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1439
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1455
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1471
push constant 15
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1487
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1503
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1512
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1519
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1528
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1535
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1544
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1551
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1560
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1567
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1583
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1599
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1615
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1622
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1626
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1631
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1638
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1642
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1647
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1654
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1658
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1663
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1670
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1674
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1679
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1686
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1690
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1695
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1702
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1706
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1711
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1718
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1722
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1727
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1743
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1759
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1775
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1784
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1788
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1791
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1800
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1804
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1807
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1816
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1820
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1823
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1832
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1839
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1848
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1855
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1864
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1871
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1880
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1887
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1903
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1919
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1935
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1941
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1951
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1957
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1967
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1973
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1983
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1989
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1999
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 2005
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 2015
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 2021
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 2031
push constant 6
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 2037
push constant 10
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 2047
push constant 6
call MemoryExt.poke 3
pop temp 0
push pointer 0
return
function Level3.getPlatformsCount 0
push argument 0
pop pointer 0
push this 2
return
function Level3.getObstaclesCount 0
push argument 0
pop pointer 0
push this 3
return
function Level3.getEnemiesCount 0
push argument 0
pop pointer 0
push this 4
return
function Level3.getCollectablesCount 0
push argument 0
pop pointer 0
push this 5
return
function Level3.getPlatforms 0
push argument 0
pop pointer 0
push this 7
return
function Level3.getObstacles 0
push argument 0
pop pointer 0
push this 8
return
function Level3.getEnemies 0
push argument 0
pop pointer 0
push this 9
return
function Level3.getCollectables 0
push argument 0
pop pointer 0
push this 10
return
function Level3.getCharacter 0
push argument 0
pop pointer 0
push this 0
return
function Level3.getFinish 0
push argument 0
pop pointer 0
push this 1
return
function Level3.getMap 0
push argument 0
pop pointer 0
push this 12
return
function Level3.getMapWidth 0
push argument 0
pop pointer 0
push this 13
return
function Level3.getMapHeight 0
push argument 0
pop pointer 0
push this 14
return
function Level3.dispose 6
push argument 0
pop pointer 0
push this 0
call Character.dispose 1
pop temp 0
push constant 0
pop this 0
push this 1
call Finish.dispose 1
pop temp 0
push constant 0
pop this 1
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 7
add
pop pointer 1
push that 0
pop local 1
push local 1
call Platform.dispose 1
pop temp 0
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop this 2
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 3
lt
not
if-goto WHILE_END1
push local 0
push this 8
add
pop pointer 1
push that 0
pop local 2
push local 2
call Obstacle.dispose 1
pop temp 0
push constant 0
pop local 2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop this 3
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push this 4
lt
not
if-goto WHILE_END2
push local 0
push this 9
add
pop pointer 1
push that 0
pop local 3
push local 3
call Enemy.dispose 1
pop temp 0
push constant 0
pop local 3
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop this 4
push constant 0
pop local 0
label WHILE_EXP3
push local 0
push this 5
lt
not
if-goto WHILE_END3
push local 0
push this 10
add
pop pointer 1
push that 0
pop local 4
push local 4
call Collectable.dispose 1
pop temp 0
push constant 0
pop local 4
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP3
label WHILE_END3
push constant 0
pop this 5
push constant 0
pop local 0
label WHILE_EXP4
push local 0
push this 6
lt
not
if-goto WHILE_END4
push local 0
push this 11
add
pop pointer 1
push that 0
pop local 5
push local 5
call SpawnPoint.dispose 1
pop temp 0
push constant 0
pop local 5
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP4
label WHILE_END4
push constant 0
pop this 6
push this 2
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
call Array.dispose 1
pop temp 0
label IF_FALSE0
push constant 0
pop this 7
push this 3
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 8
call Array.dispose 1
pop temp 0
label IF_FALSE1
push constant 0
pop this 8
push this 4
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 9
call Array.dispose 1
pop temp 0
label IF_FALSE2
push constant 0
pop this 9
push this 5
push constant 0
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 10
call Array.dispose 1
pop temp 0
label IF_FALSE3
push constant 0
pop this 10
push this 6
push constant 0
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 11
call Array.dispose 1
pop temp 0
label IF_FALSE4
push constant 0
pop this 11
push constant 0
pop local 0
label WHILE_EXP5
push local 0
push constant 2048
lt
not
if-goto WHILE_END5
push local 0
push this 12
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP5
label WHILE_END5
push this 12
call Array.dispose 1
pop temp 0
push constant 0
pop this 12
push constant 0
pop this 13
push constant 0
pop this 14
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
