function Level2.new 1
push constant 15
call Memory.alloc 1
pop pointer 0
push constant 2
push constant 200
push constant 0
call Character.new 3
pop this 0
push constant 122
push constant 48
call Finish.new 2
pop this 1
push constant 19
pop this 2
push constant 6
pop this 3
push constant 7
pop this 4
push constant 5
pop this 5
push constant 3
pop this 6
push constant 19
call Array.new 1
pop this 7
push this 7
push constant 0
push constant 124
push constant 192
push constant 3
push constant 1
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 1
push constant 61
push constant 224
push constant 3
push constant 1
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 2
push constant 70
push constant 224
push constant 3
push constant 1
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 3
push constant 0
push constant 240
push constant 3
push constant 30
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 4
push constant 61
push constant 240
push constant 3
push constant 1
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 5
push constant 70
push constant 240
push constant 3
push constant 1
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 6
push constant 89
push constant 240
push constant 3
push constant 32
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 7
push constant 104
push constant 48
push constant 7
push constant 7
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 8
push constant 83
push constant 64
push constant 7
push constant 5
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 9
push constant 121
push constant 64
push constant 7
push constant 7
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 10
push constant 97
push constant 96
push constant 7
push constant 5
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 11
push constant 89
push constant 128
push constant 7
push constant 5
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 12
push constant 113
push constant 128
push constant 7
push constant 4
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 13
push constant 41
push constant 144
push constant 7
push constant 5
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 14
push constant 52
push constant 144
push constant 7
push constant 6
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 15
push constant 74
push constant 176
push constant 7
push constant 3
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 16
push constant 33
push constant 192
push constant 7
push constant 4
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 17
push constant 84
push constant 192
push constant 7
push constant 3
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push this 7
push constant 18
push constant 62
push constant 224
push constant 7
push constant 8
call Platform.new 4
call MemoryExt.poke 3
pop temp 0
push constant 6
call Array.new 1
pop this 8
push this 8
push constant 0
push constant 43
push constant 128
push constant 0
push constant 0
push constant 1
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push this 8
push constant 1
push constant 71
push constant 240
push constant 0
push constant 0
push constant 2
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push this 8
push constant 2
push constant 74
push constant 240
push constant 0
push constant 0
push constant 5
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push this 8
push constant 3
push constant 82
push constant 240
push constant 0
push constant 0
push constant 7
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push this 8
push constant 4
push constant 73
push constant 240
push constant 1
push constant 16
push constant 1
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push this 8
push constant 5
push constant 79
push constant 240
push constant 3
push constant 64
push constant 3
call Obstacle.new 5
call MemoryExt.poke 3
pop temp 0
push constant 7
call Array.new 1
pop this 9
push this 9
push constant 0
push constant 26
push constant 48
push constant 3
call Enemy.new 3
call MemoryExt.poke 3
pop temp 0
push this 9
push constant 1
push constant 44
push constant 48
push constant 3
call Enemy.new 3
call MemoryExt.poke 3
pop temp 0
push this 9
push constant 2
push constant 67
push constant 48
push constant 3
call Enemy.new 3
call MemoryExt.poke 3
pop temp 0
push this 9
push constant 3
push constant 85
push constant 48
push constant 4
call Enemy.new 3
call MemoryExt.poke 3
pop temp 0
push this 9
push constant 4
push constant 99
push constant 80
push constant 4
call Enemy.new 3
call MemoryExt.poke 3
pop temp 0
push this 9
push constant 5
push constant 114
push constant 112
push constant 4
call Enemy.new 3
call MemoryExt.poke 3
pop temp 0
push this 9
push constant 6
push constant 91
push constant 224
push constant 0
call Enemy.new 3
call MemoryExt.poke 3
pop temp 0
push constant 5
call Array.new 1
pop this 10
push this 10
push constant 0
push constant 57
push constant 128
push constant 0
call Collectable.new 3
call MemoryExt.poke 3
pop temp 0
push this 10
push constant 1
push constant 75
push constant 160
push constant 1
call Collectable.new 3
call MemoryExt.poke 3
pop temp 0
push this 10
push constant 2
push constant 124
push constant 176
push constant 0
call Collectable.new 3
call MemoryExt.poke 3
pop temp 0
push this 10
push constant 3
push constant 64
push constant 208
push constant 2
call Collectable.new 3
call MemoryExt.poke 3
pop temp 0
push this 10
push constant 4
push constant 8
push constant 224
push constant 2
call Collectable.new 3
call MemoryExt.poke 3
pop temp 0
push constant 3
call Array.new 1
pop this 11
push this 11
push constant 0
push constant 68
push constant 192
call SpawnPoint.new 2
call MemoryExt.poke 3
pop temp 0
push this 11
push constant 1
push constant 3
push constant 208
call SpawnPoint.new 2
call MemoryExt.poke 3
pop temp 0
push this 11
push constant 2
push constant 23
push constant 208
call SpawnPoint.new 2
call MemoryExt.poke 3
pop temp 0
push this 0
push this 6
call Character.setSpawnPointsCount 2
pop temp 0
push this 0
push this 11
call Character.setSpawnPoints 2
pop temp 0
push constant 128
pop this 13
push constant 16
pop this 14
push constant 2048
call Array.new 1
pop this 12
label WHILE_EXP0
push local 0
push constant 2048
lt
not
if-goto WHILE_END0
push local 0
push this 12
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 12
push constant 15
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 31
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 47
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 63
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 79
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 95
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 111
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 127
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 142
push constant 18
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 143
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 159
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 175
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 191
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 207
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 223
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 239
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 255
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 271
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 287
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 303
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 319
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 335
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 351
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 367
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 383
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 399
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 415
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 431
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 447
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 463
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 479
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 540
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 556
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 572
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 588
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 665
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 681
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 696
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 697
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 713
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 729
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 841
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 857
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 873
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 889
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 905
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 920
push constant 16
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 921
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 990
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 991
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1006
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1022
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1037
push constant 18
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1038
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1054
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1070
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1086
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1102
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1118
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1134
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1135
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1151
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1167
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1182
push constant 12
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1183
push constant 12
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1195
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1199
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1210
push constant 17
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1211
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1215
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1227
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1231
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1247
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1263
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1275
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1276
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1277
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1278
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1279
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1291
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1292
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1293
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1294
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1295
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1307
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1308
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1309
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1310
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1311
push constant 14
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1327
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1332
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1343
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1348
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1356
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1359
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1364
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1372
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1375
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1380
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1388
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1391
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1396
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1407
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1423
push constant 11
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1432
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1439
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1448
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1455
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1464
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1471
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1480
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1487
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1496
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1503
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1519
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1535
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1551
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1558
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1567
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1574
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1583
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1590
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1599
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1606
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1615
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1622
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1631
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1647
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1663
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1667
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1679
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1683
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1695
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1699
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1711
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1715
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1727
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1731
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1743
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1747
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1759
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1763
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1775
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1791
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1807
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1816
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1823
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1832
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1839
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1848
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1855
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1864
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1871
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1887
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1903
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1919
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1935
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1940
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1956
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1972
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1988
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1995
push constant 16
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 1996
push constant 4
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 2004
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 2020
push constant 8
call MemoryExt.poke 3
pop temp 0
push this 12
push constant 2036
push constant 8
call MemoryExt.poke 3
pop temp 0
push pointer 0
return
function Level2.getPlatformsCount 0
push argument 0
pop pointer 0
push this 2
return
function Level2.getObstaclesCount 0
push argument 0
pop pointer 0
push this 3
return
function Level2.getEnemiesCount 0
push argument 0
pop pointer 0
push this 4
return
function Level2.getCollectablesCount 0
push argument 0
pop pointer 0
push this 5
return
function Level2.getPlatforms 0
push argument 0
pop pointer 0
push this 7
return
function Level2.getObstacles 0
push argument 0
pop pointer 0
push this 8
return
function Level2.getEnemies 0
push argument 0
pop pointer 0
push this 9
return
function Level2.getCollectables 0
push argument 0
pop pointer 0
push this 10
return
function Level2.getCharacter 0
push argument 0
pop pointer 0
push this 0
return
function Level2.getFinish 0
push argument 0
pop pointer 0
push this 1
return
function Level2.getMap 0
push argument 0
pop pointer 0
push this 12
return
function Level2.getMapWidth 0
push argument 0
pop pointer 0
push this 13
return
function Level2.getMapHeight 0
push argument 0
pop pointer 0
push this 14
return
function Level2.dispose 6
push argument 0
pop pointer 0
push this 0
call Character.dispose 1
pop temp 0
push constant 0
pop this 0
push this 1
call Finish.dispose 1
pop temp 0
push constant 0
pop this 1
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 7
add
pop pointer 1
push that 0
pop local 1
push local 1
call Platform.dispose 1
pop temp 0
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop this 2
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 3
lt
not
if-goto WHILE_END1
push local 0
push this 8
add
pop pointer 1
push that 0
pop local 2
push local 2
call Obstacle.dispose 1
pop temp 0
push constant 0
pop local 2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop this 3
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push this 4
lt
not
if-goto WHILE_END2
push local 0
push this 9
add
pop pointer 1
push that 0
pop local 3
push local 3
call Enemy.dispose 1
pop temp 0
push constant 0
pop local 3
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop this 4
push constant 0
pop local 0
label WHILE_EXP3
push local 0
push this 5
lt
not
if-goto WHILE_END3
push local 0
push this 10
add
pop pointer 1
push that 0
pop local 4
push local 4
call Collectable.dispose 1
pop temp 0
push constant 0
pop local 4
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP3
label WHILE_END3
push constant 0
pop this 5
push constant 0
pop local 0
label WHILE_EXP4
push local 0
push this 6
lt
not
if-goto WHILE_END4
push local 0
push this 11
add
pop pointer 1
push that 0
pop local 5
push local 5
call SpawnPoint.dispose 1
pop temp 0
push constant 0
pop local 5
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP4
label WHILE_END4
push constant 0
pop this 6
push this 2
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
call Array.dispose 1
pop temp 0
label IF_FALSE0
push constant 0
pop this 7
push this 3
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 8
call Array.dispose 1
pop temp 0
label IF_FALSE1
push constant 0
pop this 8
push this 4
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 9
call Array.dispose 1
pop temp 0
label IF_FALSE2
push constant 0
pop this 9
push this 5
push constant 0
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 10
call Array.dispose 1
pop temp 0
label IF_FALSE3
push constant 0
pop this 10
push this 6
push constant 0
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 11
call Array.dispose 1
pop temp 0
label IF_FALSE4
push constant 0
pop this 11
push constant 0
pop local 0
label WHILE_EXP5
push local 0
push constant 2048
lt
not
if-goto WHILE_END5
push local 0
push this 12
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP5
label WHILE_END5
push this 12
call Array.dispose 1
pop temp 0
push constant 0
pop this 12
push constant 0
pop this 13
push constant 0
pop this 14
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
