function Main.main 2
call Constants.init 0
pop temp 0
call Platform.init 0
pop temp 0
call Obstacle.init 0
pop temp 0
call Jeff.init 0
pop temp 0
call InsaneJeff.init 0
pop temp 0
call JeffDead.init 0
pop temp 0
call FinishFlag.init 0
pop temp 0
call Spider.init 0
pop temp 0
call EvilJeffMelee.init 0
pop temp 0
call EvilJeffRanged.init 0
pop temp 0
call EvilJeffAngry.init 0
pop temp 0
call Bat.init 0
pop temp 0
call Shooter.init 0
pop temp 0
call SimpleBullet.init 0
pop temp 0
call Heart.init 0
pop temp 0
call Coin.init 0
pop temp 0
call Ammo.init 0
pop temp 0
call Game.init 0
pop temp 0
call Game.new 0
pop local 0
push constant 0
return
