function Obstacle.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push pointer 0
call Obstacle.resetObject 1
pop temp 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push this 3
push constant 16
call Math.divide 2
pop this 4
push argument 4
pop this 5
push this 0
push this 1
call Constants.getMemAddress 2
pop this 6
push pointer 0
call Obstacle.Draw 1
pop temp 0
push pointer 0
return
function Obstacle.getX 0
push argument 0
pop pointer 0
push this 0
return
function Obstacle.getY 0
push argument 0
pop pointer 0
push this 1
return
function Obstacle.getType 0
push argument 0
pop pointer 0
push this 2
return
function Obstacle.getHeight 0
push argument 0
pop pointer 0
push this 3
return
function Obstacle.getSize 0
push argument 0
pop pointer 0
push this 5
return
function Obstacle.ClearScrollLeft 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push this 6
push constant 1
sub
pop this 6
push pointer 0
push this 6
push this 5
add
push this 0
push this 5
add
call Obstacle.Clear 3
pop temp 0
push constant 0
return
function Obstacle.DrawScrollLeft 0
push argument 0
pop pointer 0
push this 2
push this 6
push this 0
push this 1
call Obstacle.DrawBlock 4
pop temp 0
push constant 0
return
function Obstacle.ClearScrollRight 0
push argument 0
pop pointer 0
push pointer 0
push this 6
push this 0
call Obstacle.Clear 3
pop temp 0
push constant 0
return
function Obstacle.DrawScrollRight 0
push argument 0
pop pointer 0
push this 2
push this 6
push this 5
add
push this 0
push this 5
add
push this 1
call Obstacle.DrawBlock 4
pop temp 0
push this 0
push constant 1
add
pop this 0
push this 6
push constant 1
add
pop this 6
push constant 0
return
function Obstacle.Clear 4
push argument 0
pop pointer 0
push this 3
push constant 16
add
pop local 3
push argument 1
push constant 512
add
pop argument 1
label WHILE_EXP0
push local 0
push local 3
lt
not
if-goto WHILE_END0
push local 1
push constant 32
sub
pop local 1
push constant 1
neg
push argument 2
lt
push argument 2
push constant 32
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Obstacle.Draw 2
push argument 0
pop pointer 0
push this 6
pop local 1
label WHILE_EXP0
push local 0
push this 5
lt
not
if-goto WHILE_END0
push this 2
push local 1
push this 0
push local 0
add
push this 1
call Obstacle.DrawBlock 4
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Obstacle.DrawBlock 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push static 0
push constant 16
push constant 1
push constant 1
push argument 2
push argument 3
call Sprite.Draw 7
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push static 1
push constant 32
push constant 1
push constant 2
push argument 2
push argument 3
call Sprite.Draw 7
pop temp 0
goto IF_END1
label IF_FALSE1
push argument 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push static 2
push constant 64
push constant 1
push constant 4
push argument 2
push argument 3
call Sprite.Draw 7
pop temp 0
goto IF_END2
label IF_FALSE2
push argument 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
push static 3
push constant 80
push constant 1
push constant 5
push argument 2
push argument 3
call Sprite.Draw 7
pop temp 0
goto IF_END3
label IF_FALSE3
push argument 0
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
push static 4
push constant 16
push constant 1
push constant 1
push argument 2
push argument 3
call Sprite.Draw 7
pop temp 0
label IF_FALSE4
label IF_END3
label IF_END2
label IF_END1
label IF_END0
push constant 0
return
function Obstacle.init 0
push constant 16
call Array.new 1
pop static 0
push constant 32
call Array.new 1
pop static 1
push constant 64
call Array.new 1
pop static 2
push constant 80
call Array.new 1
pop static 3
push constant 16
call Array.new 1
pop static 4
push static 0
push constant 11
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 0
push constant 10
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 0
push constant 9
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 0
push constant 8
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 0
push constant 7
push constant 2016
call MemoryExt.poke 3
pop temp 0
push static 0
push constant 6
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 0
push constant 5
push constant 3568
call MemoryExt.poke 3
pop temp 0
push static 0
push constant 4
push constant 2544
call MemoryExt.poke 3
pop temp 0
push static 0
push constant 3
push constant 4600
call MemoryExt.poke 3
pop temp 0
push static 0
push constant 2
push constant 5112
call MemoryExt.poke 3
pop temp 0
push static 0
push constant 1
push constant 10236
call MemoryExt.poke 3
pop temp 0
push static 0
push constant 0
push constant 16380
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 15
push constant 15356
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 14
push constant 15356
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 13
push constant 13308
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 12
push constant 14332
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 11
push constant 14332
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 10
push constant 30718
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 9
push constant 26622
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 8
push constant 26622
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 7
push constant 28670
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 6
push constant 28670
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 5
push constant 20478
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 4
push constant 20478
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 3
push constant 24574
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 2
push constant 8193
neg
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 1
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 0
push constant 1
neg
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 31
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 30
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 29
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 28
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 27
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 26
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 25
push constant 2016
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 24
push constant 2016
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 23
push constant 2016
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 22
push constant 3568
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 21
push constant 3568
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 20
push constant 3568
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 19
push constant 7672
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 18
push constant 7160
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 17
push constant 7160
call MemoryExt.poke 3
pop temp 0
push static 1
push constant 16
push constant 15356
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 15
push constant 8225
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 14
push constant 8241
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 13
push constant 8241
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 12
push constant 12313
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 11
push constant 4121
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 10
push constant 4121
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 9
push constant 4105
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 8
push constant 2057
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 7
push constant 2057
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 6
push constant 3077
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 5
push constant 1029
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 4
push constant 1029
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 3
push constant 517
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 2
push constant 517
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 1
push constant 517
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 0
push constant 519
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 31
push constant 8464
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 30
push constant 8464
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 29
push constant 8336
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 28
push constant 8352
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 27
push constant 8384
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 26
push constant 128
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 25
push constant 4224
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 24
push constant 6208
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 23
push constant 5184
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 22
push constant 4640
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 21
push constant 4368
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 20
push constant 4232
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 19
push constant 4228
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 18
push constant 4292
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 17
push constant 8418
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 16
push constant 8289
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 47
push constant 8688
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 46
push constant 25072
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 45
push constant 29664
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 44
push constant 29632
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 43
push constant 26560
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 42
push constant 28546
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 41
push constant 28418
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 40
push constant 12034
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 39
push constant 18942
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 38
push constant 19450
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 37
push constant 18418
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 36
push constant 18402
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 35
push constant 18372
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 34
push constant 18308
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 33
push constant 18312
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 32
push constant 18184
neg
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 60
push constant 16
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 59
push constant 16
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 58
push constant 16
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 57
push constant 16
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 56
push constant 56
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 55
push constant 56
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 54
push constant 56
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 53
push constant 124
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 52
push constant 124
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 51
push constant 124
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 50
push constant 120
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 49
push constant 8440
call MemoryExt.poke 3
pop temp 0
push static 2
push constant 48
push constant 8440
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 15
push constant 7160
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 14
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 13
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 12
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 11
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 10
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 9
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 8
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 7
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 6
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 5
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 4
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 3
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 2
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 1
push constant 6136
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 0
push constant 8184
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 31
push constant 3568
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 30
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 29
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 28
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 27
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 26
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 25
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 24
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 23
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 22
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 21
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 20
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 19
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 18
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 17
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 16
push constant 3056
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 47
push constant 1760
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 46
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 45
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 44
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 43
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 42
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 41
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 40
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 39
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 38
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 37
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 36
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 35
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 34
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 33
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 32
push constant 1504
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 63
push constant 960
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 62
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 61
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 60
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 59
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 58
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 57
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 56
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 55
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 54
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 53
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 52
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 51
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 50
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 49
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 48
push constant 704
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 79
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 78
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 77
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 76
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 75
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 74
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 73
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 72
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 71
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 70
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 69
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 68
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 67
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 66
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 65
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 3
push constant 64
push constant 384
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 15
push constant 2320
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 14
push constant 2320
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 13
push constant 2320
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 12
push constant 2728
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 11
push constant 5800
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 10
push constant 15212
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 9
push constant 14172
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 8
push constant 14172
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 7
push constant 30580
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 6
push constant 32746
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 5
push constant 24042
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 4
push constant 24042
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 3
push constant 9515
neg
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 2
push constant 17674
neg
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 1
push constant 18578
neg
call MemoryExt.poke 3
pop temp 0
push static 4
push constant 0
push constant 2193
neg
call MemoryExt.poke 3
pop temp 0
push constant 0
return
function Obstacle.resetObject 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
return
function Obstacle.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Obstacle.resetObject 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
